# Ignore everything in repository root. 
*
Library/
Assets/

# Files to not ignore.
!/.gitignore
!/.gitattributes
!/*.csproj
!/*.sln

# Whitelist all other folders.
#!*/


# Whitelist important files to track. 
#!*.cs

# Folder to not ignore.
!Assets/Scripts/
!ProjectSettings/